# AWS Configuration
AWS_REGION=us-east-1

# Project Settings
PROJECT_NAME=dynaman
ENV=dev

# Secrets (Will be securely injected into Secrets Manager)
MONGODB_URL=mongodb+srv://user:pass@host/dbname

# CI/CD Configuration (Required for Pipeline)
GITHUB_REPO_OWNER=your-github-username
GITHUB_REPO_NAME=dynaman
GITHUB_BRANCH=main